.profile__edit-button {
   
    background-image: url('../../../Images/edit-button.svg');
    background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  background-position: center;
  margin-top: 16px;
  margin-right: 2px;
  border: 1px solid #FFFFFF;
  background-size: auto;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
    margin-top: 10px;
    width: 18px;
    height: 18px;
    margin-left: 9px;  

    }
}