.profile {
    display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 50px;
}

@media screen and (max-width: 879px) {
  .profile {
      padding-left: 50px;
      padding-right: 50px;
  }
}

@media screen and (max-width: 767px) {
    .profile {
        max-width: 282px;
      flex-direction: column;
      padding-top: 37px;
      justify-content: center;
      align-items: center;
      padding-bottom: 36px;
    }
}