

.profile__title {
    font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #FFFFFF;
  display: block;
  padding-right: 18px;
  margin: 0;
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
  max-width: 294px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .profile__title {
        font-size: 27px;
    line-height: 33px;
    text-align: center;
    padding-right: 0px;
    padding-top: 0px; 
    max-width: 189px;
  }
}
