.profile__add-button {
    background-image: url('../../../Images/add-button.svg');
    background-repeat: no-repeat;
  background-color: transparent;
  min-width: 152px;
  max-height: 50px;
  box-sizing: border-box;
  background-position: center;
  border-radius: 2px;
  margin-top: 35px;
  border-radius: 2px;
  border: 2px solid #FFFFFF;
  background-size: auto;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        padding-top: 0;
      min-width: 282px;
      margin-top: 31px;
      min-height: 53px;
      margin-left: 0px;
    }
}